<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      socials
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="page-title">socials</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  <ion-icon src="../assets/icon/facebook.svg" style="margin-right: 5px; width: 22;"> </ion-icon>
  <hr/>
  <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ISeaYouCy">support our cause.</a>
  </div>
</ion-content>
